---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="flex justify-between">
    <Logo />
    <Themetoggle />
  </div>
  <div class="flex items-center mt-2">
    <span class="text-2xl font-extrabold mr-1">CHAT</span>
    <span class="text-2xl text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-#62baf0 to-#44956f"">BODHI</span>
    </div>
    <p mt-8 op-45>Fundamentally there is no Bodhi-tree，Nor stand of a mirror bright</p><p mt-2 op-45>Since all is void from the beginning，Where can the dust alight？</p>
  <script src="https://unpkg.com/turndown/dist/turndown.js"></script>

</header>
